body {
  background: #adecf5;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0492c0, #0a1172); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0492c0, #0a1172); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#splash {
  width: 70%;
  height: 100%;
  position: fixed;
  animation: moment-on 1s linear 5s;
  animation-fill-mode: forwards;
}
.centerTital {
  display: block;
  margin-left: 15%;
}
div.text_center {
  text-align: center;
  text-decoration-color: crimson;
}
p.text_style {
  font-family: "Sofia";
  font-size: large;
  color: brown;
}
.button_style {
  /* background-color: #1520a6; */
  font-size: large; 
  text-align: center;
  font-family: "Sofia";
  color: rgb(153, 165, 42);
}

h1 {
  text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
}

#buttongroup {
  position: fixed;
  bottom: 0;
  padding: 10px 0 20px 0;
  border-radius: 10px 11px 0 0;
  width: 100%;
  background: #1520a6;
}

.header {
  padding: 10px 0 20px 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background: #4dd5df;
}
@keyframes moment-on {
  from {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moment-off {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
