body {
  background: #adecf5;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0492c0, #0a1172); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #0492c0, #0a1172); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#splash {
  width: 70%;
  height: 100%;
  position: fixed;
  animation: moment-on 1s linear 5s;
  animation-fill-mode: forwards;
}
/*Globle Text Alignment */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 80px;
  color: rgb(240, 239, 245) cf5;
}
/*end of globel text alignment*/
.centerTital {
  display: block;
  margin-left: 15%;
}
div.text_center {
  text-align: center;
  text-decoration-color: crimson;
}
p.text_style_header {
  font-family: "Sofia";
  font-size: 28px;
  color: brown;
}
p.text_style_congratulation {
  font-family: "Sofia";
  font-size: 78px;
  color: rgb(159, 209, 238);
}
.button_style {
  /* background-color: #1520a6; */
  font-size: large;
  text-align: center;
  font-family: "Sofia";
  color: rgb(153, 165, 42);
}

h1 {
  text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.3);
}

#buttongroup {
  position: fixed;
  bottom: 0;
  padding: 10px 0 20px 0;
  border-radius: 10px 11px 0 0;
  width: 100%;
  background: #1520a6;
}

.header {
  padding: 10px 0 20px 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  background: #4dd5df;
}
@keyframes moment-on {
  from {
    opacity: 1;
  }
  10% {
    opacity: 0.1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moment-off {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  position: relative;
  text-align: center;
}

/*firecrackers */
.firecrackers {
  width: 100%;
  height: 90%;
  position: relative;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*startButton Style*/
.startButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.startButton:hover {
  background-color: #3e8e41;
}

.startButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*Button Style end*/
